
<div id="sizing-chart-modal" class="white-popup-block mfp-hide">
  <div class="modal-header text-center">
  	<h3>Ring Size Chart</h3>
    
    <p class="subtitle">Do you have an existing ring to measure?</p>
    
    <p>
      <a href="#ring" class="btn active">YES - MEASURE RING</a>
      <a href="#finger" class="btn">NO - MEASURE FINGER</a>
    </p>
  </div>
  
  <div class="measures">
    <div id="ring" class="tab-content current" data-title="Ring Size Chart">
      <div class="top">
        <div>
          {{'cosmos-ring.svg' | asset_url | img_tag}}
        </div>
        <div>
          <ol>
            <li><span>Select an existing ring that fits the desired finger.</span></li>
            <li><span>Measure the internal diameter of the ring (in mm).</span></li>
            <li><span>Use the below chart to determine your ring size.</span></li>
          </ol>
          	
        </div>
      </div>
      <div class="size-table">
      	<table>
          <tbody>
          <tr>
            <th>Inside Diameter</th>
            <th>UK</th>
            <th>EU</th>
            <th>US</th>
          </tr>
          <tr>
            <td>14.05 mm</td>
            <td>F</td>
            <td>44</td>
            <td>3</td>
          </tr>
          <tr>
            <td>14.36 mm</td>
            <td>G</td>
            <td>45</td>
            <td>3 &frac38;</td>
          </tr>
          <tr>
              <td>14.97 mm</td>
              <td>H</td>
              <td>46</td>
              <td>4</td>
          </tr>
          <tr>
              <td>15.40 mm</td>
              <td>I</td>
              <td>47</td>
              <td>4 &frac14;</td>
          </tr>
          <tr>
              <td>16 mm</td>
              <td>J</td>
              <td>49</td>
              <td>4 &frac34;</td>
          </tr>
          <tr>
              <td>16.10 mm</td>
              <td>K</td>
              <td>50</td>
              <td>5 &frac14;</td>
          </tr>
          <tr>
              <td>16.30 mm</td>
              <td>L </td>
              <td>51</td>
              <td>5 &frac34;</td>
          </tr>
          <tr>
              <td>16.50 mm</td>
              <td>L &frac12;</td>
              <td>52</td>
              <td>6</td>
          </tr>
          <tr>
              <td>16.90 mm</td>
              <td>M &frac12;</td>
              <td>53</td>
              <td>6 &frac14;</td>
          </tr>
          <tr>
              <td>17.10 mm</td>
              <td>N</td>
              <td>54</td>
              <td>6 2&frasl;4</td>
          </tr>
          <tr>
              <td>17.50 mm</td>
              <td>O</td>
              <td>55</td>
              <td>7</td>
          </tr>
          <tr>
              <td>17.90 mm</td>
              <td>P</td>
              <td>56</td>
              <td>7 2&frasl;4</td>
          </tr>
          <tr>
              <td>18.30 mm</td>
              <td>Q</td>
              <td>57</td>
              <td>8</td>
          </tr>

        </tbody>
        </table>
      </div>
      
      <div class="text-center"><a href="{{'Daphine___Ring_sizing_chart_F_to_Q.pdf' | file_url}}" target="_blank" class="print-trigger btn">PRINTABLE RING SIZE GUIDE</a></div>
    </div>
    <div id="finger" class="tab-content" style="display:none" data-title="Finger Size Chart">
    	<div class="top">
          <div>
            <ol>
              <li><span>Wrap a strip of paper around your finger where you’d like your ring to be.</span></li>
              <li><span>Make sure that the paper is pulled snug to your finger, the tighter the better, to find your best fit.</span></li>
              <li><span>Mark the spot where the paper meets and measure the distance with a ruler (mm).</span></li>
            </ol>
          </div>
        </div>
      	<div class="size-table">
          <table>
            <tbody>
            <tr>
              <th>Circumference (mm)</th>
              <th>UK</th>
              <th>EU</th>
              <th>US</th>
            </tr>
            <tr>
              <td>44.14 mm</td>
              <td>F</td>
              <td>44</td>
              <td>3</td>
            </tr>
            <tr>
              <td>45.11 mm</td>
              <td>G</td>
              <td>45</td>
              <td>3 &frac38;</td>
            </tr>
            <tr>
                <td>46.50 mm</td>
                <td>H</td>
                <td>46</td>
                <td>4</td>
            </tr>
            <tr>
                <td>47.40 mm</td>
                <td>I</td>
                <td>47</td>
                <td>4 &frac14;</td>
            </tr>
            <tr>
                <td>48.70 mm</td>
                <td>J</td>
                <td>49</td>
                <td>4 &frac34;</td>
            </tr>
            <tr>
                <td>49.90 mm</td>
                <td>K</td>
                <td>50</td>
              	<td>5 &frac14;</td>
            </tr>
            <tr>
               	<td>51.20 mm</td>
                <td>L</td>
                <td>51</td>
                <td>5 &frac34;</td>
            </tr>
            <tr>
               	<td>51.50 mm</td>
                <td>L &frac12;</td>
                <td>52</td>
                <td>6</td>
            </tr>
            <tr>
                <td>53.10 mm</td>
                <td>M &frac12;</td>
                <td>53</td>
                <td>6 &frac14;</td>
            </tr>
            <tr>
                <td>53.80 mm</td>
                <td>N</td>
                <td>54</td>
                <td>6 2&frasl;4</td>
            </tr>
            <tr>
                <td>55.00 mm</td>
                <td>O</td>
                <td>55</td>
                <td>7</td>
            </tr>
            <tr>
                <td>56.30 mm</td>
                <td>P</td>
                <td>56</td>
                <td>7 2&frasl;4</td>
            </tr>
            <tr>
                <td>57.60 mm</td>
                <td>Q</td>
                <td>57</td>
                <td>8</td>
            </tr>

          </tbody>
          </table>
        </div>
        <div class="text-center"><a href="{{'Daphine___Ring_sizing_chart_F_to_Q.pdf' | file_url}}" target="_blank" class="print-trigger btn">PRINTABLE FINGER SIZE GUIDE</a></div>
    </div>
  </div>
  
  <div class="tips text-center">
    <div>
      <h3>TIPS &amp; TRICKS</h3>

      <p>Your ring should fit your finger comfortably, snug enough so that it will not fall off but loose enough to slide over your knuckle with some resistance.</p>
      <p>For best results measure your finger size at the end of the day and when your fingers are their largest.</p>
      <p>Don’t measure when your body temperature is either too cold or too hot. Only measure when fingers are at room temperature.</p>
      <p>If you hesitate between two sizes, always go with the larger one.</p>
      <p>If you are purchasing a wide band, you will be more comfortable moving up a half size from your measurement.</p>
    </div>
  </div>
	
	
</div>

<script type="text/javascript">
	$(function () {
        $('.ring-modal').magnificPopup({
            type: 'inline',
            preloader: false,
          	callbacks: {
            /*open: function() {
              
            }*/
          }
        });

        /*$('.print-trigger').on('click', function(e){
          e.preventDefault();
          printElement(document.querySelector(".tab-content.active"));
        });*/

        function printElement(elem) {
          var domClone = elem.querySelector('.size-table').cloneNode(true);
          var title = document.createElement("h1");
          
          title.innerHTML = elem.dataset.title;
          var $printSection = document.getElementById("printSection");
          
          if (!$printSection) {
              var $printSection = document.createElement("div");
              $printSection.id = "printSection";
              document.body.appendChild($printSection);
          }
          
          $printSection.innerHTML = "";
          $printSection.appendChild(title);
          $printSection.appendChild(domClone);
          window.print();
      }
        
      
      $('#sizing-chart-modal .modal-header a').on('click', function(e){
      	e.preventDefault();
        e.stopImmediatePropagation();
        let targetId = $(this).attr('href');
        $('#sizing-chart-modal .modal-header a').removeClass('active');
        $(this).addClass('active');
        
        $('#sizing-chart-modal .measures > div').removeClass('current').hide();
        $(targetId).addClass('current').show();
        
      })
      
    });
</script>
